.top{
    background-color: #67696a;
    border-bottom: 1px solid #e9ecef;
    padding: 10px;
    
}
.top #logo{
    width: 130px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.top >h1{
    
    text-align: center;
    color: rgb(236, 119, 2);
}
.navbar{
    top: 50;
    left: 0;
    width: 100%;
    background:rgb(236, 119, 2) ;
    display: flex;
    
    

}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    float: left;
    padding: 10px;
    margin-right: 100px;

}
.navbar a:hover{
    font-size: 20px;
    color: rgb(5, 5, 5);
    font-weight: 700;
    text-decoration: none;
}

#map{
    float : right;
    width: 500px;
    height: 350px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    
}



.footer img{
    width: 300px;
    height: 250px;
    
    float: left;
}

.footer {
    background-color: #67696a;
    border-top: 1px solid #e9ecef;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(236, 119, 2);
}

